<section class="text-gray-600 relative">
  <div class="container px-5 py-20 mx-auto">
    <div class="flex flex-col text-center w-full mb-12">
      <h1 class="sm:text-3xl text-4xl font-bold title-font mb-4 text-gray-900">Contact Us</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-2xl">Reach out to us for any more engagements.</p>
      <div class="flex mt-6 justify-center">
        <div class="w-16 h-1 rounded-full bg-green-500 inline-flex"></div>
      </div>
    </div>
    <div class="lg:w-1/2 md:w-2/3 mx-auto">
      <app-alert-danger *ngIf="showError" [message]="errorMessage" [description]='errorDescription'></app-alert-danger>
      <form class="flex flex-wrap -m-2" [formGroup]="contactForm" (ngSubmit)="onSubmit(contactForm)">
        <div class="p-2 w-1/2">
          <div class="relative">
            <label for="name" class="leading-7 text-sm text-gray-600">Name</label>
            <input [class.border-red-500.bg-red-200]="name.errors && name.touched" [class.bg-red-200]="name.errors && name.touched" formControlName="name" type="text" id="name" name="name" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-green-500 focus:bg-white focus:ring-2 focus:ring-green-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" required>
          </div>
          <div *ngIf="name.errors && name.touched" class="capitalize pt-2 text-xs text-red-500">
            <div *ngIf="name.errors.required">
              Your name is required
            </div>
          </div>
        </div>
        <div class="p-2 w-1/2">
          <div class="relative">
            <label for="email" class="leading-7 text-sm text-gray-600">Email</label>
            <input [class.border-red-500]="email.errors && email.touched" [class.bg-red-200]="email.errors && email.touched" formControlName="email" type="email" id="email" name="email" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-green-500 focus:bg-white focus:ring-2 focus:ring-green-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" required>
          </div>
          <div *ngIf="email.errors && email.touched" class="capitalize pt-2 text-xs text-red-500">
            <div *ngIf="email.errors.required">
              Your Email is required
            </div>
            <div *ngIf="email.errors.email">
              Provide a valid Email address
            </div>
          </div>
        </div>
        <div class="p-2 w-full">
          <div class="relative">
            <label for="message" class="leading-7 text-sm text-gray-600">Message</label>
            <textarea [class.border-red-500]="message.errors && message.touched" [class.bg-red-200]="message.errors && message.touched" formControlName="message" id="message" name="message" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-green-500 focus:bg-white focus:ring-2 focus:ring-green-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out" required></textarea>
            <div *ngIf="message.errors && message.touched" class="capitalize pt-2 text-xs text-red-500">
              <div *ngIf="message.errors.required">
                Message body is required
              </div>
              <div *ngIf="message.errors.minLength">
                Provide atleat 10 characters in your message
              </div>
            </div>
          </div>
        </div>
        <div class="p-2 w-full">
          <button class="flex mx-auto px-6 py-3 text-green-700 bg-white border-2 border-green-700 rounded-md transition duration-200 ease-linear hover:bg-green-700 hover:border-green-700 hover:text-gray-100" type="submit">Send</button>
        </div>
      </form>
    </div>
  </div>
</section>
